.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0.15) 100%
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 25px;
  z-index: 0;
}

.clock {
  position: relative;
}

.clock::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  border-bottom: 0.5px solid transparent;
  border-top: 2px solid transparent;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.16),
      rgba(255, 255, 255, 0.08)
    )
    border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
