.shine {
  position: relative;
}

.shine:before,
.shine:after {
  content: "";
  position: absolute;
  top: 0;
  transform: skewX(-30deg);
  animation: shine 5s infinite linear;
  z-index: 200;
}

.shine:before {
  width: 70px;
  height: 32vh;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  left: -100px;
}

.shine:after {
  width: 150px;
  height: 32vh;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  left: -100px;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: calc(100% + 100px);
  }
  100% {
    left: calc(100% + 100px);
  }
}
